.page {
    z-index: 3;
    border: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    text-align: left;
    color: #b1b6c6;
    font-size: 1rem;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: geogrotesque wide,Verdana,Geneva,Tahoma,sans-serif;
    box-sizing: border-box;
    /*background-image: url("/static/media/background.6a76de66.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.card {
    width: 176px;
    min-width: 176px;
    max-width: 176px;
    height: 250px;
    min-height: 250px;
    max-height: 250px;
    position: relative;
    z-index: 2;
    flex: 0 0 200px;
    border: 2px solid black;
    font-weight: 400;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    font-family: geogrotesque wide,Verdana,Geneva,Tahoma,sans-serif;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 0px;
    opacity: 1;
    transition: opacity 0.25s ease 0s;
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 8px);
}

.container {
    z-index: 1;
    width: 500%;
    border: 0;
    display: flex;
    margin-left: -500px;
    overflow: hidden;
    font-weight: 400;
    text-align: left;
    color: #b1b6c6;
    font-size: 1rem;
    line-height: 1.2;
    font-family: geogrotesque wide,Verdana,Geneva,Tahoma,sans-serif;
    box-sizing: border-box;
    padding: 0px 30px 30px;
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: calc(100% + 500px);
}

.pin {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: geogrotesque wide,Verdana,Geneva,Tahoma,sans-serif;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    z-index: 3;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: scale(1.30);
}

@keyframes spinr {
    0% {
        left: 0px;
    }

    20% {
        left: 500px;
    }

    50% {
        left: 1500px;
    }

    70% {
        left: 2000px;
    }

    100% {
        left: 3000px
    }
}
