@page "/xwheelcanvas"

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <PageTitle>X Wheel (Canvas)</PageTitle>

    <h1>(Canvas)</h1>

    <XWheelCanvas />
</MudContainer>

@code {

}
